* {
	font-family: Arial;
}

.h3 {
	font-style: cursive;
	font-size: 1.5em;
	background-color: #cccccc;
	display: block;
	margin-bottom: 2em;
	font-weight: bold;
	text-align: center;
}

input {
	display: block;
	width: 15em; 
	height: 3em; 
	padding-left: 1em;	
}

textarea {
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 60em;
	height: 10em;
	max-height: 10em;
	min-width: 50em;
	font-size: 1em;
}

hr {
	height: 1em;
	background-color: #000000;
	width: 90%;
}

table {
	margin: auto;
}

.score_div {
	display: block;
	background: cyan;
	max-height: 10em;
	height: 10em;
	padding-right: 
}

.control_col {
	width: 5em;
}

.text_col {
	width: 60em;
	min-width: 50em;	
}

#counter_paragraph {
	font-weight: bold;
	font-family: Arial;
	font-size: 3em;
	vertical-align: left;
}

#score_paragraph {
	font-weight: bold;
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

#count_corner {
	display: block;
}

#loading_area {
	background-color: azure;
	font-weight: bold;
}


