
* {
	font-family: Arial;
}

hr {
	height: 1em;
	background-color: #000000;
	width: 90%;
}

input {
	margin: 1em 1em 1em 1em;
	vertical-align: center;
	height: 3em;
	width: 7em;
}

textarea {
	margin: 0.5em 1em 1em 1em;
	vertical-align: center;
	height: 12em;
	max-height: 12em;
	width: 54em;
	max-width: 54em;
}

#welcome_header {
	text-align: center;
	font-weight: bold;
	background-color: #cccccc;
	margin-left: 5em;
	margin-right: 5em;
}

.display_div {
	background-color: #000000;
	height: 30em;
	width: 88em;
	margin-left: 5em;
	margin-right: 5em;
}

#hotspot {
	float: right;
	border: 0.3em solid beige;
	background-color: #cccccc;
	height: 28em;
	margin-top: 1em;
}

#left_hand {
	float: left;
	border: 0.3em solid beige;
	background-color: #cccccc;
	height: 28em;
	margin-top: 1em;
}

.dropdown {
	margin-left: 5em;

}

#load_button {
	margin: 1em 1em 1em 1em;
	width: 14em;
	float: right;
}

#counter_paragraph {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: 3em 3em 3em 0.5em;
	background-color: #000000;
	color: #ffffff;
	height: 4em;
}

#stats_button {
	margin: 1em 1em 1em 5em;
	vertical-align: center;
	height: 3em;
	width: 14em;
}

#create_button {
	margin: 1em 1em 1em 1em;
	vertical-align: center;
	height: 3em;
	width: 14em;
}

.common_ground {
	background-color: #aaaaaa;
	width: 50em;
	color: #ffffff;
}

#typing_table {
	color: #000000;
}

#reset_button {
	float: left;
}
#start_button {
	float: left;
}

#submit_button {
	float: right;
}

.messanger_div {
	margin-left: 5em;
	margin-right: 5em;
}

.table-striped {
	width: 30em;
	max-width: 40em;
	font-size: 1.5em;
}

#new_paragraph_area {
	margin: 0.5em 1em 1em 1em;
	vertical-align: center;
	height: 12em;
	max-height: 12em;
	width: 39em;
	max-width: 40em;
}

#top_togglable_menu {
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 5em;
}